.woocommerce-privacy-policy-text p {
    font-size: var(--gstore-font-size-xs);
    color: #9ca3af;
    margin-bottom: 0;
}

.woocommerce-privacy-policy-text a {
    color: #9ca3af;
    text-decoration: underline;
}

.woocommerce-privacy-policy-text a:hover {
    color: #6b7280;
}