<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","className":"Gstore-home-shell","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull Gstore-home-shell">
	<!-- wp:template-part {"slug":"home-hero","area":"uncategorized"} /-->
	<!-- wp:template-part {"slug":"home-products","area":"uncategorized"} /-->
<!-- wp:image {"align":"full","className":"Gstore-home-transition"} -->
<figure class="wp-block-image alignfull Gstore-home-transition">
	<!-- Imagem configurada em: Aparência > Configurações Gstore > Banners > Banner YouTube -->
	<img src="{{gstore_banner_youtube}}" alt="{{gstore_banner_youtube_alt}}" />
</figure>
<!-- /wp:image -->
	<!-- wp:template-part {"slug":"home-blog","area":"uncategorized"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->

