<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"Gstore-flash-sale-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group Gstore-flash-sale-page">
	<!-- wp:group {"align":"wide","className":"Gstore-flash-sale-page__content","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide Gstore-flash-sale-page__content">
		<!-- wp:shortcode -->
		[gstore_flash_sale_catalog]
		<!-- /wp:shortcode -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
